# Android / Gradle
.gradle/
**/build/
local.properties
.idea/
*.iml
captures/
outputs/
# Keystore (não versione chaves reais)
*.keystore
*.jks
# Logs
*.log
# NDK / CMake cache
.externalNativeBuild/
.cxx/

# local backups
*.bak
